# Ignore __pycache__ directories and compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore the SQLite database
*.sqlite3

# Ignore the virtual environment directory
visualQuotes/

# Ignore IDE-specific files
.idea/
.vscode/

# Ignore environment variables
.env